In [33]:
import pandas as pd
import numpy as np

In [4]:
# Try reading the file with shift_jis encoding
data_shift_jis = pd.read_csv('../data/在庫推移9月.csv', encoding='shift_jis')
data_shift_jis.head()

,Unnamed: 0,計測日時,品番,拠点所番地,在庫数（箱）,入庫数（箱）,出庫数（箱）
0,0,2023/09/04 00:00:00,019120LC030,30113,12.0,0.0,0.0
1,1,2023/09/04 00:00:00,019120LC040,10114,3.0,0.0,0.0
2,2,2023/09/04 00:00:00,019120LC050,20115,4.0,0.0,0.0
3,3,2023/09/04 00:00:00,019120LC060,30116,9.0,0.0,0.0
4,4,2023/09/04 00:00:00,019120LC070,20117,9.0,0.0,0.0

In [37]:
#以下の手順でデータを処理します：
#計測日時を日付として解釈し、それを基にデータを日付毎にグループ化します。
#各グループ内で、品番毎の入庫数、出庫数を合計します。
#各日付の最後のレコードの在庫数を使用して、その日の在庫数を取得します。

# Convert 計測日時 to datetime and extract only the date
data_shift_jis['計測日'] = pd.to_datetime(data_shift_jis['計測日時']).dt.date

# Group by 計測日 and 品番
grouped = data_shift_jis.groupby(['計測日', '品番'])

# Calculate the sum of 入庫数（箱） and 出庫数（箱） for each group
in_out_sum = grouped[['入庫数（箱）', '出庫数（箱）']].sum()

# Get the last record's 在庫数（箱） for each group (as the end-of-day inventory)
end_of_day_inventory = grouped['在庫数（箱）'].last()

# Combine the results
result = pd.concat([in_out_sum, end_of_day_inventory], axis=1)
result = result.reset_index()

# Extract only the day from the '検収日' column
result['計測日'] = pd.to_datetime(result['計測日']).dt.day

result.columns = ['計測日', '品番', '入庫数（箱）', '出庫数（箱）', '在庫数（箱）']
result.head()

   計測日               品番  入庫数（箱）  出庫数（箱）  在庫数（箱）
0    4  019120LC030         5.0     2.0    15.0
1    4  019120LC040         1.0     0.0     4.0
2    4  019120LC050         1.0     0.0     5.0
3    4  019120LC060         2.0     1.0    10.0
4    4  019120LC070         2.0     1.0    10.0

In [38]:
# Randomly select a product code (品番)
random_product_code = result['品番'].sample(1).iloc[0]
# Extract data for the selected product code
selected_product_data = result[result['品番'] == random_product_code]
selected_product_data

      計測日               品番  入庫数（箱）  出庫数（箱）  在庫数（箱）
318     4  G1250ECE010         9.0     4.0    20.0
643     5  G1250ECE010         5.0     9.0    16.0
968     6  G1250ECE010        11.0     9.0    18.0
1293    7  G1250ECE010         3.0     9.0    12.0
1618    8  G1250ECE010        13.0     9.0    16.0
1939   11  G1250ECE010         5.0     4.0    13.0
2260   12  G1250ECE010         7.0     9.0    11.0
2581   13  G1250ECE010        14.0     8.0    17.0
2902   14  G1250ECE010         4.0    10.0    11.0
3223   15  G1250ECE010         9.0     7.0    13.0
3542   18  G1250ECE010         4.0     3.0    13.0
3861   19  G1250ECE010        14.0     9.0    18.0
4180   20  G1250ECE010         4.0     9.0    14.0
4499   21  G1250ECE010         9.0     8.0    15.0
4818   22  G1250ECE010         8.0     8.0    15.0
5146   25  G1250ECE010         9.0     4.0    16.0
5474   26  G1250ECE010        11.0     9.0    18.0
5802   27  G1250ECE010         9.0     8.0    19.0
6130   28  G1250ECE010         9.0     9.0    19.0
6458   29  G1250ECE010         5.0     8.0    16.0

In [8]:
# Load the new uploaded file with shift_jis encoding
kanban_data = pd.read_csv('../data/設計値変更後_LTデータ9月.csv', encoding='shift_jis')
kanban_data.head()

/anaconda/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,かんばんシリアル,伝票番号,拠点所番地,品番,品名,収容数,仕入先名,仕入先工場名,ステータス,...,社内LT（検収〜回収LT）/設計値_社内LT（検収〜回収LT）,検収日時（HHMM）,検収日時（HH:MM）,順立装置入庫日時（HHMM）,順立装置出庫日時（HHMM）,回収日時（HHMM）,不等ピッチ,納入予定時間,納入予定時間（HHMM）,収時間と納入予定時間の差分（HHMM）
0,0,1Z23J00061273,XCGG850,10429,35482TFA010,ｸﾗﾝﾌﾟｾﾝｻ-,1000,サトープレス工業（株）,本社工場,回収済,...,3.12888,1017,10:17,1404,1104,-1,0.00,09:20:00,920.0,97.0
1,1,1Z23J00090101,XCGP260,10429,35482TFA010,ｸﾗﾝﾌﾟｾﾝｻ-,1000,サトープレス工業（株）,本社工場,順立装置内,...,NaN,1750,17:50,1211,-1,-1,0.00,09:20:00,920.0,830.0
2,2,1Z23J00091003,XCGR590,10416,9030106A018,ﾘﾝｸﾞO,2000,ＮＯＫ（株）,< NULL >,順立装置内,...,NaN,1754,17:54,1211,-1,-1,0.03,09:10:00,910.0,844.0
3,3,1Z23J00090128,XCGN430,10149,9056450A003,ｼﾑ,100,（株）ムロコーポレーション,< NULL >,回収済,...,NaN,253,2:53,933,409,-1,0.00,02:00:00,200.0,53.0
4,4,1Z23J00018997,XCFD220,10282,9056457A134,ｼﾑ,100,（株）ムロコーポレーション,< NULL >,回収済,...,NaN,-1,NaN,611,537,-1,0.00,02:00:00,200.0,-201.0

In [41]:
#手順を以下のように進めます：
#"検収日時（HH:MM）" から日付情報を抽出します。
#品番と検収日でグループ化し、各グループの行数（検収数）をカウントします。

# Convert 検収日時（HH:MM） to datetime and extract only the date
kanban_data['検収日'] = pd.to_datetime(kanban_data['検収日時'], errors='coerce').dt.date

# Group by 検収日 and 品番, then count the number of rows for each group
kanban_grouped = kanban_data.groupby(['検収日', '品番']).size().reset_index(name='検収数')

# Extract only the day from the '検収日' column
kanban_grouped['検収日'] = pd.to_datetime(kanban_grouped['検収日']).dt.day

kanban_grouped.head()

   検収日               品番  検収数
0    1  019128GA010       19
1    1  01912ECB010        6
2    1  01912ECB040       18
3    1  1040043104R        1
4    1  1040052001Z        3

In [42]:
# Extract data for the selected product code
selected_kanban_product_data = kanban_grouped[kanban_grouped['品番'] == random_product_code]
selected_kanban_product_data

      検収日               品番  検収数
128     1  G1250ECE010       10
270     4  G1250ECE010        9
422     5  G1250ECE010       10
571     6  G1250ECE010        6
728     7  G1250ECE010        7
900     8  G1250ECE010        9
1047   11  G1250ECE010        9
1176   12  G1250ECE010        8
1301   13  G1250ECE010        9
1458   14  G1250ECE010        9
1616   15  G1250ECE010        7
1763   18  G1250ECE010        9
1923   19  G1250ECE010        9
2081   20  G1250ECE010        8
2240   21  G1250ECE010        6
2401   22  G1250ECE010        8
2548   25  G1250ECE010        9
2708   26  G1250ECE010       11
2873   27  G1250ECE010        9
3038   28  G1250ECE010        9
3190   29  G1250ECE010        5

In [12]:
# Load the uploaded file with shift_jis encoding
arrangement_data = pd.read_csv('../data/設計値変更後_202309_手配数_1Y_2次.csv', encoding='shift_jis')
arrangement_data.head()

,品番,加工図符号,設変符号,品名,ステータス,発注区分,整備室,整備室名,手配区分,工程内外製,...,21(木).1,22(金).1,23(土).1,24(日).1,25(月).1,26(火).1,27(水).1,28(木).1,29(金).1,30(土).1
0,35300-ECB010,35300ECB010,NaN,"PUMP ASSY, OIL W/MOTOR",使用中,かんばん,1Y,第１工場,手配,Ｐ,...,877,815,0,0,877,877,822,878,822,0
1,35580-6GA020,355806GA020,A,"ACTUATOR ASSY, SHIFT CONTROL",使用中,かんばん,1Y,第１工場,手配,Ｐ,...,0,0,0,0,0,0,0,0,0,0
2,35580-ECB011,35580ECB011,B,"ACTUATOR ASSY, SHIFT CONTROL",使用中,かんばん,1Y,第１工場,手配,Ｐ,...,378,360,0,0,384,384,355,379,354,0
3,1040 052 001Z,1040052001Z,D,"PLUG, W/HEAD STRAIGHT SCREW",使用中,かんばん,1Y,第１工場,手配,Ｐ,...,499,455,0,0,493,493,467,499,468,0
4,1040 183 011P,1040183011P,C,"BOLT, FLANGE",使用中,かんばん,1Y,第１工場,手配,Ｐ,...,"1,134","1,080",0,0,"1,152","1,152","1,065","1,137","1,062",0

In [34]:
# Correctly format the date columns
date_columns_formatted = [f"{i}({day})" for i, day in zip(range(1, 31), "金土日月火水木" * 5)]
selected_columns_formatted = ['品番'] + date_columns_formatted
subset_data_formatted = arrangement_data[selected_columns_formatted]

# Melt the dataframe to long format
melted_data_formatted = pd.melt(subset_data_formatted, id_vars=['品番'], value_vars=date_columns_formatted, var_name='日付', value_name='日量数')

# Extract only the numeric part for '日付' column
melted_data_formatted['日付'] = melted_data_formatted['日付'].str.extract('(\d+)').astype(int)

# Extract the specified columns
additional_columns = ['箱種類', '収容数', '基準在庫日数', '基準在庫枚数', 'サイクル間隔', 'サイクル回数', 'サイクル情報']
additional_data = arrangement_data[['品番'] + additional_columns]

# Merge the additional data with the melted_data_formatted dataframe on '品番'
merged_data = pd.merge(melted_data_formatted, additional_data, on='品番', how='left')

# Rename the specified columns
merged_data.rename(columns={
    'サイクル間隔': 'A',
    'サイクル回数': 'B',
    'サイクル情報': 'C'
}, inplace=True)

# Convert '収容数' column to numeric
merged_data['収容数'] = pd.to_numeric(merged_data['収容数'], errors='coerce')

# Convert '日量数' column to numeric
merged_data['日量数'] = pd.to_numeric(merged_data['日量数'], errors='coerce')

# Divide the '日量数' column by '収容数' and create a new column '日量数（箱）'
merged_data['日量数（箱）'] = merged_data['日量数'] / merged_data['収容数']

# Replace non-finite values with 0
merged_data['日量数（箱）'] = merged_data['日量数（箱）'].fillna(0)
# Round the '日量数（箱）' column and convert to integer
merged_data['日量数（箱）_切り上げ'] = np.ceil(merged_data['日量数（箱）']).astype(int)

# Remove "-" and " " from the '品番' column in merged_data
merged_data['品番'] = merged_data['品番'].str.replace("-", "").str.replace(" ", "")

merged_data.head()

,品番,日付,日量数,箱種類,収容数,基準在庫日数,基準在庫枚数,A,B,C,日量数（箱）,日量数（箱）_切り上げ
0,35300ECB010,1,880.0,TP-341 ﾊﾝﾖｳ,12.0,0.91,3,1,4,8.04,73.333333,74
1,355806GA020,1,0.0,TP-342 ｾﾝﾖｳ,6.0,0.70,3,1,4,8.04,0.000000,0
2,35580ECB011,1,393.0,TP-342 ｾﾝﾖｳ,6.0,0.90,3,1,4,8.04,65.500000,66
3,1040052001Z,1,487.0,TP-131 ﾊﾝﾖｳ,200.0,0.53,3,1,6,5.76,2.435000,3
4,1040183011P,1,NaN,TP-331 ﾊﾝﾖｳ,500.0,0.54,1,1,6,5.76,0.000000,0

In [46]:
# Rename '検収日' column to '日付' in selected_kanban_product_data
kanban_grouped = kanban_grouped.rename(columns={'検収日': '日付'})

# Trim whitespace from the '品番' column in both dataframes
kanban_grouped['品番'] = kanban_grouped['品番'].str.strip()

# Merge merged_data and selected_kanban_product_data based on the specified conditions (品番 and 日付)
final_merged_data = pd.merge(merged_data, kanban_grouped, 
                                on=['品番', '日付'], how='inner')

final_merged_data.head()

,品番,日付,日量数,箱種類,収容数,基準在庫日数,基準在庫枚数,A,B,C,日量数（箱）,日量数（箱）_切り上げ,検収数
0,35300ECB010,1,880.0,TP-341 ﾊﾝﾖｳ,12.0,0.91,3,1,4,8.04,73.333333,74,55
1,35580ECB011,1,393.0,TP-342 ｾﾝﾖｳ,6.0,0.90,3,1,4,8.04,65.500000,66,49
2,1040052001Z,1,487.0,TP-131 ﾊﾝﾖｳ,200.0,0.53,3,1,6,5.76,2.435000,3,3
3,1040183011P,1,NaN,TP-331 ﾊﾝﾖｳ,500.0,0.54,1,1,6,5.76,0.000000,0,2
4,3040052001B,1,NaN,TP-331 ﾊﾝﾖｳ,500.0,0.52,3,1,6,5.76,0.000000,0,6

In [48]:
# Rename '検収日' column to '日付' in selected_kanban_product_data
result = result.rename(columns={'計測日': '日付'})

# Trim whitespace from the '品番' column in both dataframes
result['品番'] = result['品番'].str.strip()

# Merge merged_data and selected_kanban_product_data based on the specified conditions (品番 and 日付)
final_merged_data = pd.merge(final_merged_data, result, 
                                on=['品番', '日付'], how='inner')
final_merged_data.head()

,品番,日付,日量数,箱種類,収容数,基準在庫日数,基準在庫枚数,A,B,C,日量数（箱）,日量数（箱）_切り上げ,検収数,入庫数（箱）,出庫数（箱）,在庫数（箱）
0,35300ECB010,4,946.0,TP-341 ﾊﾝﾖｳ,12.0,0.91,3,1,4,8.04,78.833333,79,50,32.0,41.0,127.0
1,35580ECB011,4,411.0,TP-342 ｾﾝﾖｳ,6.0,0.90,3,1,4,8.04,68.500000,69,53,27.0,39.0,84.0
2,1040052001Z,4,535.0,TP-131 ﾊﾝﾖｳ,200.0,0.53,3,1,6,5.76,2.675000,3,1,2.0,1.0,4.0
3,1040183011P,4,NaN,TP-331 ﾊﾝﾖｳ,500.0,0.54,1,1,6,5.76,0.000000,0,1,1.0,0.0,1.0
4,3040052001B,4,NaN,TP-331 ﾊﾝﾖｳ,500.0,0.52,3,1,6,5.76,0.000000,0,7,7.0,5.0,5.0

In [50]:
with open('..//data//順立装置の在庫の揺らぎ.csv', mode='w',newline='', encoding='shift_jis',errors='ignore') as f:
    final_merged_data.to_csv(f)